@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: dark;
}

body {
	margin: 0;
	background: hsl(235, 28%, 9%);
	color: white;
}
text {
	fill: white;
}

.code {
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
}
.qcode {
	font-family: "Tiny5", "Fira Code", monospace;
	font-optical-sizing: auto;
}

svg text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* https://stackoverflow.com/questions/11660710/css-transition-fade-in */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 500ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.out {
	fill: hsla(39, 100%, 50%, 0.5);
	color: hsla(39, 100%, 50%, 0.5);
}
.min {
	fill: rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
}
